.wrap {
  display: flex;
  padding: 15px;
}

.link {
  font-size: 18px;
  padding: 10px 15px;
  font-weight: 600;
  color: #5b3ea3; 
  text-decoration: none;
  transition: color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.link:hover {
  color: #ec41ff; 
}

.link.active {
  color: #ec41ff;
}
