
  .home {
    margin-left: 15px;
  }
  
  .contacts {
    margin-left: 50px;
  }

  .navWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: 'Inter', sans-serif; 
  }
  
  .nav {
    font-size: 18px;
    font-weight: 600;
    color: #5b3ea3; 
    text-decoration: none;
    transition: color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
  }
  
  .nav:hover {
    color: #ec41ff; 
  }
  
  .nav.active {
     color: #ec41ff;
  }
  